<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://tools.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="OmniPlate"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- ΒΑΣΙΚΟ ACTIVITY ΤΗΣ ΕΦΑΡΜΟΓΗΣ -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
              
            <!-- INTENT FILTER ΓΙΑ ΝΑ ΑΝΟΙΓΕΙ Η ΕΦΑΡΜΟΓΗ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- CUSTOM URL SCHEME ΓΙΑ ΤΟ GOOGLE LOGIN ΚΑΙ TA EMAILS -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="io.supabase.omniplate"
                    android:host="login-callback" />
            </intent-filter>
        </activity>
        
        <!-- ΚΛΕΙΔΩΜΑ ΚΑΜΕΡΑΣ SCANNER (ΜΕ TOOLS:REPLACE ΓΙΑ ΝΑ ΥΠΑΚΟΥΣΕΙ ΜΕ ΤΗ ΒΙΑ) -->
        <activity
            android:name="com.amolg.simplebarcodescanner.SimpleBarcodeScannerActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        
        <!-- META-DATA ΓΙΑ ΤΟ FLUTTER -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- QUERIES ΓΙΑ ΚΕΙΜΕΝΟ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>